<section class="documents">
    <div class="container">
        <div class="documents__wrapper">
            <h1 class="documents__title section-title">Заявка и перечень документов для заключения договоров</h1>

            <div class="documents__block">
                <p class="documents__block-header">Для рассмотрения возможности заключения договора контрагент должен предоставить следующие документы:</p>
                <ul class="documents__list list-documents">
                    
                    <li class="list-documents__item">
                        заявку (оферту) на имя генерального директора VISMA Technology, которая подается на фирменном бланке организации и должна содержать сведения о виде работ и услуг, на которые контрагент предлагает заключить договор, номенклатуре груза и общем объеме на год с разбивкой по месяцам.
                    </li>
                </ul>
            </div>

            
            <div class="documents__block">
                <p class="documents__block-header">
                    Для резидентов РФ (документы должны быть заверены подписью руководителя и печатью организации):</p>
                <ul class="documents__list list-documents">
                    <li class="list-documents__item">копию выписки из ЕГРЮЛ (выданной не позднее одного месяца до даты заключения договора);</li>
                    <li class="list-documents__item">копии учредительных документов (устава, положения);</li>
                    <li class="list-documents__item">копию протокола или выписки из протокола о назначении исполнительного органа;</li>
                    <li class="list-documents__item"> копию свидетельства о государственной регистрации;</li>
                    <li class="list-documents__item">копию приказа о назначении лица, действующего на основании положения;</li>
                    <li class="list-documents__item">копию доверенности представителя;</li>
                    <li class="list-documents__item">копию свидетельства о постановке на учет в качестве налогоплательщика;</li>
                    <li class="list-documents__item">заполненную карточку контрагента, заверенную подписью и печатью руководителя организации и главного бухгалтера и содержащую следующую информацию:
                        <ol class="documents__ordered-list">
                            <li class="list-documents__item">Юридический адрес контрагента;</li>
                            <li class="list-documents__item">Фактический адрес контрагента;</li>
                            <li class="list-documents__item">Банковские реквизиты контрагента;</li>
                            <li class="list-documents__item">Контактная информация: номер факса, адрес электронной почты и контактные лица с указанием номеров телефонов.</li>
                        </ol>
                    </li>
                </ul>
            </div>
            
            <div class="documents__block">
                <p class="documents__block-header">
                    Для нерезидентов РФ (документы должны быть предоставлены с нотариально заверенным переводом на русский язык):</p>
                <ul class="documents__list list-documents">
                    <li class="list-documents__item">выписка из Торгового реестра страны происхождения компании-контрагента (о благонадежности компании);</li>
                    <li class="list-documents__item">учредительные документы и документы регистрации фирмы (копии);</li>
                    <li class="list-documents__item">подтверждение полномочий лица на право подписания договора, нотариально заверенная доверенность с апостилем, либо выписка из протокола о назначении (избрании) на должность;</li>
                    <li class="list-documents__item">заполненную карточку контрагента, заверенную подписью и печатью руководителя организации и содержащую следующую информацию:
                        <ol class="documents__ordered-list">
                            <li class="list-documents__item">Юридический адрес контрагента;</li>
                            <li class="list-documents__item">Фактический адрес контрагента;</li>
                            <li class="list-documents__item">Банковские реквизиты контрагента;</li>
                            <li class="list-documents__item">Контактная информация: номер факса, адрес электронной почты и контактные лица с указанием номеров телефонов.</li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</section>