<section class="news">
    <div class="container">
        <div class="news__wrapper">
            <div class="news__header">
                <h2 class="news__title section-title">Новости</h2>
                <a href="#" class="news__btn btn btn_main" aria-label="Все новости">все новости <span class="btn-arrow btn-arrow_purple">
                </span></a>
            </div>
            <div class="news__cards">
                <article class="news__card card-news card-news_1">
                    <div class="card-news__img"></div>
                    <div class="card-news__content">
                        <span class="card-news__date">20/05/22</span>
                        <h3 class="card-news__title">Semper eu pulvinar eget integer</h3>
                        <p class="card-news__text">Pretium duis phasellus netus ac. Nunc nibh nunc integer feugiat et aliquam cras. Amet pharetra montes ipsum gravida tellus tellus.</p>
                    </div>
                </article>
                <article class="news__card card-news card-news_2">
                    <div class="card-news__img"></div>
                    <div class="card-news__content">
                        <span class="card-news__date">20/02/22</span>
                        <h3 class="card-news__title">Vitae id nec nulla sit nunc cursus curabitur tempus vel enim.</h3>
                        <p class="card-news__text">Cras arcu ac commodo suspendisse commodo ipsum turpis dui. Quis pharetra malesuada eget sit egestas et integer. Suspendisse a.</p>
                    </div>
                </article>
                <article class="news__card card-news card-news_3">
                    <div class="card-news__img"></div>
                    <div class="card-news__content">
                        <span class="card-news__date">30/12/21</span>
                        <h3 class="card-news__title">Integer nisi sagittis in aliquet. Enim eget varius lacinia est a.</h3>
                        <p class="card-news__text">Lectus tempus felis pretium vitae. Tempor massa vestibulum condimentum cursus diam quam. Mattis facilisi dignissim donec eget vel.</p>
                    </div>
                </article>
                <article class="news__card card-news card-news_4">
                    <div class="card-news__img"></div>
                    <div class="card-news__content">
                        <span class="card-news__date">29/06/21</span>
                        <h3 class="card-news__title">Facilisis vitae proin quis</h3>
                        <p class="card-news__text">Iaculis diam quam velit sit nunc turpis ultricies elementum. Vitae lacinia tristique rutrum faucibus nulla quis ultricies. Risus.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>