<section class="services">
    <div class="container">
        <div class="services__wrapper">
            <div class="services__text">
                <h2 class="services__title section-title">Услуги</h2>
                <ul class="services__list list-reset">
                    <li class="services__item"><a href="#" download class="services__link"><span class="services__link-text">Тарифы на услуги по обеспечению контроля доступа на территорию VISMA на 2022 год</span> <span class="services__pdf">PDF</span></a></li>
                    <li class="services__item"><a href="#" download class="services__link"><span class="services__link-text">Условия определения цены договора и тарифы на работы</span><span class="services__pdf">PDF</span></a></li>
                    <li class="services__item"><a href="#" download class="services__link"><span class="services__link-text">Договор перевалки (типовая форма)</span><span class="services__pdf">PDF</span></a></li>
                </ul>
            </div>
            <div class="services__cards">
                <div class="services__card card-services">
                    <h3 class="card-services__title">услуги</h3>
                    <p class="card-services__operations">Хранение грузов</p>
                </div>
                <div class="services__card card-services">
                    <h3 class="card-services__title">услуги</h3>
                    <p class="card-services__operations">Швартовые операции</p>
                </div>
                <div class="services__card card-services">
                    <h3 class="card-services__title">услуги</h3>
                    <p class="card-services__operations">Складские операции</p>
                </div>
                <div class="services__card card-services">
                    <h3 class="card-services__title">услуги</h3>
                    <p class="card-services__operations">Агентское обслуживание судов</p>
                </div>
                <div class="services__card card-services">
                    <h3 class="card-services__title">услуги</h3>
                    <p class="card-services__operations">Буксировка / сопровождение судов</p>
                </div>
                <div class="services__card card-services">
                    <h3 class="card-services__title">услуги</h3>
                    <p class="card-services__operations">Погрузочно-разгрузочная деятельность</p>
                </div>
            </div>
        </div>
    </div>
</section>