$main-color: #3D348B;
$sec-color: #5DB7DE;
$white: #FFFFFF;
$black: #333333;

// $breakpoint-1599: 1599px;
// $breakpoint-1399: 1399px;
$breakpoint-1299: 1299px;
$breakpoint-1199: 1199px;
$breakpoint-991: 991px;
$breakpoint-767: 767px;
$breakpoint-575: 575px;
// $breakpoint-399: 399px;

$container: 1296px;
$maxWidth: 1920;
$minWidth: 320;
$maxWidthRem: 120;
$minWidthRem: 20;