<footer class="footer">
    <div class="footer__up">
        <div class="container">
            <div class="footer__up-wrapper">
                <div class="footer__address">
                    <svg class="footer__address-icon">
                      <use xlink:href="assets/svg/sprite.svg#map-icon"></use>
                    </svg>
                    123456, г. Тавима, ул. Морская, д. 21
                </div>
                <a href="./index.html" class="logo footer__logo">
                    <svg class="logo__svg footer__logo-svg">
                      <use xlink:href="assets/svg/sprite.svg#logo"></use>
                    </svg>
                </a>
                <div class="footer__contacts">
                    <a href="tel:+71234566789" class="footer__contact footer__phone" target="_blank" aria-label="+7 (123) 456-67-89">
                        <svg class="footer__phone-icon">
                          <use xlink:href="assets/svg/sprite.svg#phone"></use>
                        </svg>
                        +7 (123) 456-67-89
                    </a>
                    <a href="mailto:order@visma.ru" class="footer__contact footer__email" target="_blank">
                        <svg class="footer__email-icon">
                          <use xlink:href="assets/svg/sprite.svg#mail"></use>
                        </svg>
                        order@visma.ru
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__lists">
                <ul class="footer__info footer__list list-reset">
                    <span class="footer__list-title">информация о юр. лице</span>
                    <li class="footer__item">ОГРН 11111111111111111</li>
                    <li class="footer__item">ИНН 2222222222222</li>
                    <li class="footer__item">КПП 3333333333333</li>
                    <li class="footer__item">ОКПО 44444444444 ОКВЭД 52.24</li>
                    <li class="footer__item">ОКТМО 5555555555555</li>
                </ul>
                <ul class="footer__purchase footer__list list-reset">
                    <span class="footer__list-title">Закупки</span>
                    <li class="footer__item"><a href="#" class="footer__link" aria-label="Нормативные документы">Нормативные документы</a></li>
                    <li class="footer__item"><a href="#" class="footer__link" aria-label="Закупки на VISMA Order">Закупки на VISMA Order</a></li>
                    <li class="footer__item"><a href="#" class="footer__link" aria-label="Закупки на VISMA Tender">Закупки на VISMA Tender</a></li>
                </ul>
                <ul class="footer__sharer footer__list list-reset">
                    <span class="footer__list-title">акционерам</span>
                    <li class="footer__item"><a href="#" class="footer__link" aria-label="Устав VISMA">Устав VISMA</a></li>
                    <li class="footer__item"><a href="#" class="footer__link" aria-label="Свидетельства госрегистрации">Свидетельства госрегистрации</a></li>
                    <li class="footer__item"><a href="#" class="footer__link" aria-label="Список аффилированных лиц">Список аффилированных лиц</a></li>
                    <li class="footer__item"><a href="#" class="footer__link" aria-label="Информация">Информация</a></li>
                    <li class="footer__item"><a href="#" class="footer__link" aria-label="Отчеты">Отчеты</a></li>
                </ul>
                <ul class="footer__company footer__list list-reset">
                    <span class="footer__list-title">о компании</span>
                    <li class="footer__item"><a href="#" class="footer__link" aria-label="Порт сегодня">Порт сегодня</a></li>
                    <li class="footer__item"><a href="#" class="footer__link" aria-label="Характеристики порта">Характеристики порта</a></li>
                    <li class="footer__item"><a href="#" class="footer__link" aria-label="История">История</a></li>
                    <li class="footer__item"><a href="#" class="footer__link" aria-label="Дипломы и награды">Дипломы и награды</a></li>
                    <li class="footer__item"><a href="#" class="footer__link" aria-label="Транспортная безопасность">Транспортная безопасность</a></li>
                    <li class="footer__item"><a href="#" class="footer__link" aria-label="Экология">Экология</a></li>
                    <li class="footer__item"><a href="#" class="footer__link" aria-label="Правовая информация">Правовая информация</a></li>
                </ul>
            </div>
        </div>
    </div>
    <p class="footer__rights">все права защищены АО VISMA</p>

</footer>