<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a href="./index.html" class="logo header__logo">
                <svg class="logo__svg header__logo-svg">
                  <use xlink:href="assets/svg/sprite.svg#logo"></use>
                </svg>
                
            </a>
            <nav class="header__nav" title="Главная навигация">
                <ul class="header__list">
                    <li class="header__item"><a href="./content.html" class="header__link" aria-label="О компании">Контент</a></li>
                    <li class="header__item"><a href="./calculator.html" class="header__link" aria-label="Новости">Калькулятор</a></li>
                    <li class="header__item"><a href="#" class="header__link" aria-label="Новости">Новости</a></li>
                    <li class="header__item"><a href="#" class="header__link" aria-label="Новости">Новости</a></li>
                    <li class="header__item"><a href="#" class="header__link" aria-label="Новости">Новости</a></li>
                    <li class="header__item"><a href="#" class="header__link" aria-label="Новости">Новости</a></li>
                    <li class="header__item"><a href="#" class="header__link" aria-label="Новости">Новости</a></li>
                </ul>
            </nav>

            <form action="#" class="header__search-form">
                <button class="header__search-btn" type="submit" aria-label="Поиск">
                    <svg class="header__search-img">
                        <use class="test1" xlink:href="assets/svg/sprite.svg#search">
                    </svg>
                </button>
                <input type="text" name="search" class="header__search-input">
            </form>
            <div class="header__language">
                <svg class="header__language-svg">
                  <use xlink:href="assets/svg/sprite.svg#arrow-down"></use>
                </svg>
                <select name="language" id="lang-selector" class="header__select">
                    <option value="ru" selected class="header__option">RU</option>
                    <option value="en" class="header__option">EN</option>
                </select>
            </div>

            <div class="header-burger">
                <button class="header-burger__btn" aria-label="Открыть меню" aria-expanded="false">
                    <span class="header-burger__line"></span>
                    <span class="header-burger__line"></span>
                    <span class="header-burger__line"></span>
                </button>
                <div class="header-burger__menu" aria-hidden="true">
                    <button class="header-burger__close">&#10006;</button>
                    <nav class="header-burger__nav">
                        <ul class="header-burger__list">
                            <li class="header-burger__item">
                                <a href="./content.html" class="header-burger__link">Контент</a>
                            </li>
                            <li class="header-burger__item">
                                <a href="./calculator.html" class="header-burger__link">Калькулятор</a>
                            </li>
                            <li class="header-burger__item">
                                <a href="#" class="header-burger__link">Новости</a>
                            </li>
                            <li class="header-burger__item">
                                <a href="#" class="header-burger__link">Новости</a>
                            </li>
                            <li class="header-burger__item">
                                <a href="#" class="header-burger__link">Новости</a>
                            </li>
                            <li class="header-burger__item">
                                <a href="#" class="header-burger__link">Новости</a>
                            </li>
                            <li class="header-burger__item">
                                <a href="#" class="header-burger__link">Новости</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                
            </div>
        </div>
    </div>
</header>