@import './var/variables';
@import './var/mixins';
// MAIN PAGE
@import './main-page/sections/header';
@import './main-page/sections/intro';
@import './main-page/sections/services';
@import './main-page/sections/about';
@import './main-page/sections/news';
@import './main-page/sections/footer';

// CONTENT PAGE
@import './content-page/sections/documents';

// CALCULATOR PAGE
@import './calculator-page/sections/calculator';

* {
    box-sizing: border-box;
}

body {
    @include ptsans;
    font-weight: 400;
    font-style: normal;
    min-width: 320px;
    margin: 0;
    padding: 0;
    line-height: 140%;
    color: $black;
}

.list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    max-width: $container + 30;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    @include adaptiv-size-rem('font-size', 2.5, 1.7);
    font-weight: 900;
    color: $black;
    margin: 0;
    line-height: 140%;
}

.btn {
    @include ptsans;
    @include adaptiv-size-rem('font-size', 1, .875);
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    border: none;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: 900;
    transition: .1s transform ease;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
    }
    &_main {
        color: $main-color;
    }
    &_sec {
        color: $white;
    }
}

.btn-arrow {
    position: relative;
    
    &::after {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: transparent;
        border: 2px solid $white;
    }
    &::before {
        content: url('./assets/icons/arrow-right.svg');
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
    }
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &_white {
        &::after {
            border: 2px solid $white;
        }
        &::before {
            content: url('./assets/img/arrow-right-white.svg');
        }
    }
    &_purple {
        &::after {
            border: 2px solid $main-color;
        }
        &::before {
            content: url('./assets/img/arrow-right-purple.svg');
        }
    }
}

.btn-file {
    background-color: $sec-color;
    color: $white;
    font-size: 0.8125rem;
    font-weight: 900;
    border-radius: 10px;
    padding: 8px 16px;
    border: none;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    transition: .3s background-color ease-in-out;
    &:hover {
        background-color: darken($sec-color, 10%);
    }
}

.logo {
    &__svg {
        width: 108px;
        height: 30px;
    }
}